# Node
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Logs
logs/
*.log
*.log.*
pids/
*.pid
*.seed
*.pid.lock

# Build / cache
dist/
build/
.cache/
.tmp/
coverage/
.eslintcache
.nyc_output/

# Runtime
.DS_Store
Thumbs.db

# IDE / Editor
.vscode/
.idea/
*.swp

# Misc
*.orig
